@media only  screen and (max-width:800px) {
    .top-header,.bottom-header{
        display: none;
    }
    header{
        width:100%;
        margin:0px auto;
    }
    .mobile-navbar{
        display:block;
        
    }

    .banner{
        padding-top:10px;
    }

    .banner-contents{
        width:95%;
        margin-top:0px;
    }

    .article p {
        width:65%;
    }

    .section-fluid{
        width:100%;
        padding:10px 15px 0px 15px;
    }

    .col{
        width:100%;
    }

    .dn{
        display: none;
    }
    footer {
        padding:0px;
    }
    footer .section-fluid > ul li {
        display:block;
        border:none;
        padding:7px;
        height:auto;
    }

    footer .section-fluid > ul li:nth-child(1) {
        margin:0px;
    }

    footer .social-icons {
        border-top:1px solid #ccc;
        padding-left:10px;
    }

    footer .footnotes{
        padding-left:10px;
    }
    .mobile-navbar .header{
        display: flex;
        width:95%;
        margin:0px auto;
        padding-bottom: 15px;
    }
    .col-wd-6{
        width:50%;
    }

    .col-wd-6 .logo{
        width:50%;
    }

    .search-icon,.user-icon,.bars-icon{
        width:25px;
    }

    .col-wd-6 ul{
        padding:0px;
        text-align: right;
        margin-top:0px;
    }

    .col-wd-6 ul li {
        display: inline-block;
        list-style-type: none;
        padding:5px 5px 0px 5px;
    }

    .col-wd-6 ul li a {
        color:#000;
    }
    .nav-dropdown,.search-dropdown{
       height: 0px;
      -webkit-transition: height 0.6s ease-out;
      -moz-transition: height  0.6s ease-out;
      -o-transition: height  0.6s ease-out;
      -ms-transition: height  0.6s ease-out;
      transition: height  0.6s ease-out;
      overflow: hidden;
      width:100%;
    }

    .dropdown{
        height: 690px;
    }

    .searchDropdownHeight{
        height: 52px;
    }

    .float-left{
        float:right;
        color:rgb(243, 231, 165);
    }
    
    .nav-tab,.nav-link{
        width:100%;
        border-bottom:1px solid #fff;
        text-align:left;
        padding:15px;
    }

    .nav-link{
        border-bottom:1px solid #ccc;
    }
    .nav-link a {
        color:#000;
        text-decoration: none;
        font-size: 14px;
        font-family: neue-haas-grotesk-text, sans-serif;
        font-weight: 400px;
        font-style: normal;
    }

    .search-dropdown input{
        padding:25px;
        background-image: url('https://www.stickpng.com/assets/images/585e4ad1cb11b227491c3391.png');
        background-repeat: no-repeat;
        background-position: right;
        background-size: 35px;
    }
}